<div class="jumbotron text-center">
  <h1>Memory Game</h1>
  <p>Welcome to my website!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>What is this website about?</h3>
      <p>This is a memory game. The memory game is a common children's game played with a set of cards. The cards have a pictures on one side and each picture appears on two (or sometimes four) cards. The game starts with all the cards face down and players take turns to turn over two cards. If the two cards have the same picture, then they keep the cards, otherwise they turn the cards face down again. The winner is the person with the most cards when all the cards have been taken. </p>
    </div>
    <div class="col-sm-6">
      <h3>Why does this exist?</h3>
      <p>cuz we dont have money for real cards and we are very eco friendly :PPPPP</p>
    </div>
    <br />
    <br />
    <div class="col-sm-3">
      <span></span>
    </div>
    <div class="col-sm-6">
      <img src="https://ph.puzzleyou.net/_/prod/memo/1-large/memo.jpg" class="img-fluid" alt="An image of the memory game">
    </div>
    <div class="col-sm-3">
      <span></span>
    </div>


  </div>
</div>
