<div class="jumbotron text-center">
  <h1>Memory Game</h1>
  <p>Welcome to my website!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quam ipsum minima magni sint, esse doloribus corrupti tempore, veritatis, numquam voluptatem quis. Repellendus id dolores eum vel quidem iste fugiat!</p>
    </div>
    <div class="col-sm-5">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ab non quibusdam voluptas, atque veniam aperiam sit obcaecati modi. Cupiditate quam accusamus repellat voluptas itaque temporibus blanditiis molestiae laboriosam velit!</p>
    </div>

  </div>
</div>
