.card {
  width: 200px;
  height: 200px;

  &__face {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    transition: transform 0.6s;
  }

  &__back {
    transform: rotateY(180deg);
  }

  .card.flipped {
    .card__face {
      transform: rotateY(180deg);
    }

    .card__back {
      transform: rotateY(0deg);
    }
  }
}
