<div class="jumbotron text-center">
  <h1>Introduction</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Rules</h3>
      <p><b>Number of players required:</b> 2-4 players</p>

      <p><b>Who can play it:</b> Anyone</p>

      <p><b>Difficulty:</b> Very easy</p>

      <p><b>Main objective:</b> Be the player who matches the most cards by the end of the game.</p>
    </div>
    <div class="col-sm-4">
      <h3>Setup</h3>
      <p><b>Shuffle up the cards</b> that you choose to play the Memory Game with so that the cards are all jumbled up.</p>

      <p>Make sure you face down all the cards and organize them in a <b>squared pattern</b>. The best bet is to organize them with 6 rows across
        and 6 rows down as this is the easiest formation.</p>
    </div>
    <div class="col-sm-4">
      <h3>How to play</h3>
      <ul>
        <li>Players choose two cards at a time and try to find two cards that are <b>exactly the same</b>.</li>
        <li>If they find two cards that match then they remove the cards from the middle and keep them in front of them.</li>
        <li>The player continues until they are unable to find a matching pair, with the game then moving on to the next player to the left.</li>
        <li>If players are unable to match two cards together then they have to turn the cards back over face down.</li>
        <li>The game continues until all the cards have been successfully paired up.</li>
        <li>The winner is the player who has the <b> most pairs of cards</b> at the end of the game.</li>
      </ul>

    </div>


  </div>
</div>




